* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #7027f9;
	border-radius: 10px;
	opacity: 1;
}
